<div class="col-xs-6 col-md-4">
  <div class="thumbnail">
    <%= link_to image_tag(product.image_url, class: "img-responsive"), product %>
    <div class="caption">
      <h2><%= product.name %></h2> 
      <%= product.description %><br><br>
      <%= product.text %><br>
      <%= link_to 'Edit', edit_product_path(product) %>
      <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
      <hr>
      <span style="display: inline-block; float:right"><%= "$%.0f" % product.price %>
      </p>
    </div>
  </div><!-- End thumbnail -->
</div>